.article {
    border: 1px solid grey;
    margin-bottom: 10px;
}

.article .footer span {
    background-color: #2ab27b;
    border-radius: 5px;
    padding: 5px;
}

.article .footer span:hover {
    background-color: #2cc27b;
}

.article .footer span a {
    color: white;
}

.article .footer span a:hover {
    text-decoration: none;
}

.image-header img {
    min-width: 100%;
}
